* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/kod_simvoly_programmirovanie_178845_2560x1600.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: rgba(0, 0, 0, 0.534);
    border-bottom: solid 4px #000;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.header__logo {
    height: 100px;
    width: 100px;
    border: solid 2px #174;
    border-radius: 50%;
    margin: 10px;
}

.header__link {
    text-decoration: none;
    color: #eee;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.calc {
    width: 60vh;
    height: 70vh;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/1663657405_7-phonoteka-org-p-telefon-bez-fona-krasivo-8.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.calc__Сoreboard {
    width: 50%;
    margin-left: 20px;
    height: 60px;
    background: rgb(216, 84, 84);
    border: solid 2px rgb(190, 16, 16);
    border-radius: 30px;
    margin-bottom: 50px;
}

.calc__result {
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;

}

.calc__Digitalunit {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30%;
    margin-right: 25%;
}

.calc__num {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.calc__operations {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.calc__decision {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.calc__btn {
    margin: 5px;
    border: none;
    border-radius: 30px;
    background-color: #eee;
    cursor: pointer;

    font-size: 30px;
    box-shadow: 2px 3px 2px rgb(0, 0, 0, 0.5);
}

.calc__btn_num {
    height: 40px;
    width: 40px;
}

.calc__btn_operator {
    height: 40px;
    width: 40px;
    background: rgb(221, 167, 17);
}

.calc__btn_reset {
    background: rgb(228, 83, 25);
}

.calc__btn_result {
    background-color: rgb(17, 36, 119);
    color: rgb(255, 255, 255);
}

.calc__btn:hover {
    opacity: 0.9;
}

.calc__btn:active {
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
}

footer {
    background-color: rgba(0, 0, 0, 0.534);
    border-top: solid 4px #000;
    width: 100%;
    color: #fff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}